<!-- Representa el archivo donde esta la foto del perfil, fotos de email, website, github, etc -->
<aside class="aside" style="background:#FAFAFA">
  <section class="section">
    <div class="profile-main">
      <button class="profile-main__setting focus--box-shadow" type="button">
        <img class="profile-main__photo"
          src="{{ "/assets/img/profile/photo.webp"| prepend: site.baseurl | replace: '//', '/' }}"
          alt="Foto de perfil" title="Foto de perfil" style="width:225px;height:225px;"
        />
      </button>
      <h1 class="profile-main__name" style="text-align:center">Santos López</h1>
      <ul class="statistics">
        <li class="statistics__entry" >
          {% for page in site.data.socialNetworks %}
            <a class="statistics__entry-description"  href="{{ page.link }}"><img src="{{ page.image | relative_url }}" alt="{{ page.name }}" class="zoomImagen redesSociales" title="{{ page.name }}"></a><span class="statistics__entry-quantity"></span>
          {% endfor %}
        </li>
      </ul>
    </div>
  </section>
</aside>