<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NJ2JSLQ');</script>
<!-- End Google Tag Manager -->
	  <title>{{ page.title }}</title>
	  <!--title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="keywords" content="Ingeniería en sistemas informáticos, Ciencias de la computación, Maestría en Tecnologías de la Información, Bases de datos: PostgreSQL, MySQL, SQL Server, Lenguajes de programación: PHP, Java, Python, JavaScript, Desarrollo web"/>
    <meta name="description" content="{{ page.description | default: site.description }}">   
    <meta name="robots" content="index, follow"/>
    <meta name="googlebot" content="index, follow, max-snippet:-1,max-image-preview:large,max-video-prview:-1"/>
    <meta name="author" content="Alexandr Shulaev"/>
    <meta property="og:locale" content="es_ES"/>
    <meta property="og:site_name" content="santoslopezt.me"/>
    <meta property="og:title" content="Santos López | Desarrollador de Software"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="{{ page.og_description | default: site.description }}">

    <meta property="og:image" content="https://santoslopezt.me/assets/img/profile/photo.png"/>
    <meta property="og:url" content="https://santoslopezt.com"/>
    <meta name="twitter:title" content="Santos López | Desarrollador de Software"/>
    <meta name="twitter:description" content="Soy un estudiante de Ingeniería en Sistemas Informática y Ciencias de la Computación a punto de graduarme. También estoy estudiando una Maestría en Tecnologías de la Información y tengo experiencia en el uso de bases de datos como PostgreSQL, MySQL y SQL Server. Además, tengo habilidades en programación con PHP, Java, Python y JavaScript, así como en el uso de frameworks y herramientas como Bootstrap y CSS.">	
    <meta name="twitter:image" content="https://santoslopezt.com/assets/img/profile/photo.png"/>

    <link rel="stylesheet" href="{{ "/assets/css/font-nunito.css" | prepend: site.baseurl | replace: '//', '/' }}">

    <link rel="canonical" href="https://santoslopezt.me/">

    <link rel="apple-touch-icon" sizes="120x120" href="{{ "/assets/img/profile/apple-touch-icon-120x120-precomposed.png" | prepend: site.baseurl | replace: '//', '/' }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ "/assets/img/profile/apple-touch-icon-152x152-precomposed.png" | prepend: site.baseurl | replace: '//', '/' }}">

    <link rel="stylesheet" href="{{ "/assets/css/normalize.css" | prepend: site.baseurl | replace: '//', '/' }}">
    <link rel="stylesheet" href="{{ "/assets/css/dashboard.css" | prepend: site.baseurl | replace: '//', '/' }}">
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap-5.2.3.min.css" | prepend: site.baseurl | replace: '//', '/' }}">
    <link rel="shortcut icon"  href="{{ "/assets/img/profile/favicon.png" | prepend: site.baseurl | replace: '//', '/' }}">
    <!--link rel="stylesheet" href="{{ "/assets/css/cookieconsent.min.css" | prepend: site.baseurl | replace: '//', '/' }}"-->
    <script src="{{ '/assets/js/bootstrap5.2.3.bundle.min.js' | relative_url }}"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KZQENPFJ5Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KZQENPFJ5Q');
</script>

</head>
